/.vscode
/fix_rate_fix_installent.exe
/fix_rate_fix_installent.cpp
/fix principal payment and fixed interest rate.cpp
/fixed principal payment and fixed interest rate.exe
/margin+parameterised_tates.exe
/margin+parameterised_tates.cpp
/sanjeev.cpp
/prog.exe
/sanjeev.exe
/main.exe